:root {
  --primary: #fff;
  --bg-color: #ffe5b4; /* light orange */
  --envelope-color: #f5edd1;
  --tab-color: #ecdeb8;
  --cover-color: #e6cfa7;
  --text-color: #444;
  --heart-color: hotpink;
  --shadow: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  display: grid;
  place-items: center;
}

.envelope-wrapper {
  background: var(--envelope-color);
  box-shadow: 0 0 20px var(--shadow);
  cursor: pointer;
}

.envelope {
  position: relative;
  width: 300px;
  height: 230px;
}

.envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--tab-color);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transition: transform 0.5s ease-in-out;
  transform-origin: top;
}

.envelope::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 130px solid transparent;
  border-right: 150px solid var(--cover-color);
  border-bottom: 100px solid var(--cover-color);
  border-left: 150px solid var(--cover-color);
}

.letter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 80%;
  background: var(--primary);
  box-shadow: 0 0 5px var(--shadow);
  padding: 10px;
  font-size: 11px;
  color: var(--text-color);
  text-align: left;
  transition: all 1s ease-in-out;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 3;
  transition: transform 0.5s ease-in-out;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  border-radius: 50%;
}

.heart::before {
  top: -7.5px;
}

.heart::after {
  left: 7.5px;
}

/* Open Animation */
.flap .envelope::before {
  transform: rotateX(180deg);
  z-index: 0;
}

.flap .letter {
  bottom: 100px;
  transform: translateX(-50%) scale(1.2);
}

.flap .heart {
  transform: rotate(90deg) translate(-50%, -50%);
}
